<?
require_once 'languages/'.LANGUAGE.'.common.php';
$menu = array(
    'class' => 'sf-menu',
'id' => 'menu-main-navigation',
'active_class' => 'current-menu-item',

'ua' => array(
array(
'link' => '/',
'title' => 'Головна',
'class' => null,
'children' => null
),

array(
'link' => '#',
'title' => 'Меню',
'class' => 'sf-with-ul',
'child_class' => 'sub_menu',
'children' => array(
array(
'link' => '/ecommerce/category/Bar',
'title' => 'Бар',
'class' => null,
'children' => null
),
array(
'link' => '/ecommerce/category/Kyhnya',
'title' => 'Кухня',
'class' => null,
'children' => null
),
array(
'link' => '/ecommerce/category/futshet',
'title' => 'Фуршет',
'class' => null,
'children' => null
),
array(
'link' => '/ecommerce/category/dopolnitel-nye-uslugi',
'title' => 'Додаткові послуги',
'class' => null,
'children' => null
)
)
),

array(
'link' => '#',
'title' => 'Блог',
'class' => 'sf-with-ul',
'child_class' => 'sub-menu',
'children' => array(
array(
'link' => '/blog/rubrick/afisha',
'title' => 'Афіша',
'class' => null,
'children' => null
),

array(
'link' => '/blog/rubrick/actsii',
'title' => 'Акції',
'class' => null,
'children' => null
),

array(
'link' => '/blog/rubrick/news',
'title' => 'Новини',
'class' => null,
'children' => null
),

array(
'link' => '/blog/rubrick/video',
'title' => 'Відео',
'class' => null,
'children' => null
)
)
),

array(
'link' => '/gallery',
'title' => 'Галерея',
'class' => null,
'children' => null
),

array(
'link' => '/tickets',
'title' => 'Купити квиток',
'class' => null,
'children' => null
),

array(
'link' => '/contacts',
'title' => 'Контактна інформація',
'class' => null,
'children' => null
),
),
'ru' => array(
array(
'link' => '/',
'title' => 'Главная',
'class' => null,
'children' => null
),

array(
'link' => '#',
'title' => 'Меню',
'class' => 'sf-with-ul',
'child_class' => 'sub_menu',
'children' => array(
array(
'link' => '/ecommerce/category/Bar',
'title' => 'Бар',
'class' => null,
'children' => null
),
array(
'link' => '/ecommerce/category/Kyhnya',
'title' => 'Кухня',
'class' => null,
'children' => null
),
array(
'link' => '/ecommerce/category/futshet',
'title' => 'Фуршет',
'class' => null,
'children' => null
),
array(
'link' => '/ecommerce/category/dopolnitel-nye-uslugi',
'title' => 'Дополнительные услуги',
'class' => null,
'children' => null
)
)
),

array(
'link' => '#',
'title' => 'Блог',
'class' => 'sf-with-ul',
'child_class' => 'sub-menu',
'children' => array(
array(
'link' => '/blog/rubrick/afisha',
'title' => 'Афиша',
'class' => null,
'children' => null
),

array(
'link' => '/blog/rubrick/actsii',
'title' => 'Акции',
'class' => null,
'children' => null
),

array(
'link' => '/blog/rubrick/news',
'title' => 'Новости',
'class' => null,
'children' => null
),

array(
'link' => '/blog/rubrick/video',
'title' => 'Видео',
'class' => null,
'children' => null
)
)
),

array(
'link' => '/gallery',
'title' => 'Галерея',
'class' => null,
'children' => null
),

array(
'link' => '/tickets',
'title' => 'Купить билет',
'class' => null,
'children' => null
),

array(
'link' => '/contacts',
'title' => 'Контактная информация',
'class' => null,
'children' => null
),
),

'en' => array(
array(
'link' => '/',
'title' => 'Main',
'class' => null,
'children' => null
),

array(
'link' => '#',
'title' => 'Menu',
'class' => 'sf-with-ul',
'child_class' => 'sub_menu',
'children' => array(
array(
'link' => '/ecommerce/category/Bar',
'title' => 'Bar',
'class' => null,
'children' => null
),
array(
'link' => '/ecommerce/category/Kyhnya',
'title' => 'Kitchen',
'class' => null,
'children' => null
),
array(
'link' => '/ecommerce/category/futshet',
'title' => 'Cocktail',
'class' => null,
'children' => null
),
array(
'link' => '/ecommerce/category/dopolnitel-nye-uslugi',
'title' => 'Additional Services',
'class' => null,
'children' => null
)
)
),

array(
'link' => '#',
'title' => 'Blog',
'class' => 'sf-with-ul',
'child_class' => 'sub-menu',
'children' => array(
array(
'link' => '/blog/rubrick/afisha',
'title' => 'Poster',
'class' => null,
'children' => null
),

array(
'link' => '/blog/rubrick/actsii',
'title' => 'Actions',
'class' => null,
'children' => null
),

array(
'link' => '/blog/rubrick/news',
'title' => 'News',
'class' => null,
'children' => null
),

array(
'link' => '/blog/rubrick/video',
'title' => 'Videos',
'class' => null,
'children' => null
)
)
),
array(
'link' => '/gallery',
'title' => 'Gallery',
'class' => null,
'children' => null
),
array(
'link' => '/tickets',
'title' => 'Buy a ticket',
'class' => null,
'children' => null
),

array(
'link' => '/contacts',
'title' => 'Contacts',
'class' => null,
'children' => null
),
)
);
?>

<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<?=LANGUAGE?>"> <!--<![endif]-->
<head>
    <?require_once 'inc/head.html'?>
    <script>
        $(document).ready(function(){
            $('title').html('404');
        });
    </script>
</head>
<body>

<header>
    <?require_once 'inc/header.html'?>
</header>


<div id="main">
    <div class="width-container">
        <h3 align="center">404. Page not found !!!!!!!!</h3>
    </div>

    <div class="clearfix"></div>
</div>


<?require_once 'inc/footer.php'?>

</body>
</html>