<header class="content-title"><h1 class="title"><?=SIGN_IN?></h1>

    <div class="md-margin"></div>
</header>

<div class="col-md-6">
    <div class="xs-margin"></div>
    <form id="login-form" method="post" action="/account/sign_in">

        <div class="input-group"><span class="input-group-addon">
            <span class="input-icon input-icon-user"></span>
            <span class="input-text"><?=LOGIN?> *</span></span>
            <input required="" class="form-control" name="login" type="text">
        </div>

        <div class="input-group xs-margin"><span class="input-group-addon"><span
                class="input-icon input-icon-password"></span><span class="input-text"><?=PASSWORD?> *</span></span>
            <input required="" class="form-control input-lg"  name="password" type="password"></div>
        <span class="help-block text-right"><a href="/account/forgout"><?=FORGOUT?></a></span>
        <span class="help-block text-right"><a href="/account/registration"><?=REGISTRATION?></a></span>
        <button class="btn btn-custom-2"><?=SIGN_IN?></button>
    </form>
    <div class="sm-margin"></div>
</div>