<link rel='stylesheet' href="/templates/chelseapub/css/wooecommerce.css"/>
<style>

/*
=============================================== 11. BUTTON STYLES ===============================================
*/
body .home-content-highlight a.button, body .home-content-highlight button.single_add_to_cart_button, body .home-content-highlight input.button, body.woocommerce-cart #main td.actions input.button.checkout-button, body .home-content-highlight button.button, body #single-product-pro a.button, body #single-product-pro button.single_add_to_cart_button, body #single-product-pro input.button, body.woocommerce-cart #single-product-pro input.button.checkout-button, body #single-product-pro button.button,
body a.ls-sc-button.secondary, body #main .width-container input#submit,
body #main a.button, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main td.actions input.button.checkout-button, body #main button.button, body #single-product-pro a.button, body #single-product-pro button.single_add_to_cart_button, body #single-product-pro input.button, body.woocommerce-cart #single-product-pro input.button.checkout-button, body #single-product-pro button.button,
body a.progression-button, body input.wpcf7-submit, body input#submit, body a.ls-sc-button.default {
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin-right: 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: none !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 17px 30px;
    font-weight: 600;
    font-size: 14px;
}

/*
=============================================== 12. CONTACT FORM STYLES ===============================================
*/
#map-progression {
    margin: 0px;
}

span.required {
    color: #da5454;
}

.wpcf7 {
    margin-top: 15px;
}

.wpcf7 input, .wpcf7 textarea, #respond textarea, #respond input {
    padding: 12px;
    margin-top: 3px;
    border: 3px solid #e5e5e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    max-width: 100%;
    color: #000000;
}

.wpcf7 input.wpcf7-not-valid, .wpcf7 textarea.wpcf7-not-valid {
    border-color: #eab7b7;
    background: #fbe8e8;
}

.wpcf7-not-valid-tip {
    display: none !important;
}

.wpcf7 input, #respond input {
    width: 300px;
}

.wpcf7 textarea, #respond textarea {
    width: 70%;
}

.wpcf7 input:focus, #respond input:focus, .wpcf7 textarea:focus, #respond textarea:focus {
    border-color: #555555;
    outline: none;
    color: #000000;
}

body.woocommerce-cart #main td.actions .coupon input,
.woocommerce input, .woocommerce textarea {
    padding: 12px;
    margin-top: 3px;
    border: 3px solid #e5e5e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
}

body.woocommerce-cart #main td.actions .coupon input#coupon_code {
    width: auto;
    max-width: 110px;
}

body.woocommerce-cart #main td.actions .coupon input#coupon_code:hover {
    background: #ffffff;
}

.woocommerce form.login, .woocommerce form.register {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-color: #e5e5e5;
}

.wpcf7 select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: window;
    appearance: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    cursor: pointer;
    text-transform: none;
    padding: 12px 45px 12px 12px;
    margin-top: 3px;
    border: none;
    background: none;
    color: #999;
}

.wpcf7 select:focus {
    border: none;
}

.number-of-guests {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url(images/arrow-down.png) top right no-repeat;
    border: 3px solid #e5e5e5;
    display: inline-block;
}



.woocommerce h3#order_review_heading,
.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3#ship-to-different-address {
    font-size: 18px;
}

.woocommerce h3#order_review_heading {
    margin-top: 45px;
    font-size: 25px;
}

}

.fa-file-text-o:before {
    content: "\f0f6"
}

.fa-building-o:before {
    content: "\f0f7"
}

.fa-hospital-o:before {
    content: "\f0f8"
}

.fa-ambulance:before {
    content: "\f0f9"
}

.fa-medkit:before {
    content: "\f0fa"
}

.fa-fighter-jet:before {
    content: "\f0fb"
}

.fa-beer:before {
    content: "\f0fc"
}

.fa-h-square:before {
    content: "\f0fd"
}

.fa-plus-square:before {
    content: "\f0fe"
}

.fa-angle-double-left:before {
    content: "\f100"
}

</style>

<div id="map-progression">
    <iframe style="border: 0;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2654.266121163577!2d25.93640999999999!3d48.297732999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47340884b6e9b9ef%3A0xc599ae4542437a5c!2z0LLRg9C7LiDQk9Cw0LPQsNGA0ZbQvdCwLCAxMg!5e0!3m2!1sru!2sua!4v1401808511162"
            width="100%" height="450" frameborder="0"></iframe>
</div>

<div class="width-container bg-sidebar-pro">
    <div id="sidebar-border">
        <div id="content-container">
            <div role="form" class="wpcf7" id="wpcf7-f6-p22-o1" lang="ru" dir="ltr">
                <div class="screen-reader-response"></div>

                <form name="" action="/contactform/send" method="post" class="wpcf7-form">
                    <p><span class="wpcf7-form-control-wrap your-name">
                            <input type="text" name="name"
                                   value="" size="40"
                                   class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                   aria-required="true"
                                   aria-invalid="false"
                                   placeholder="<?=YOU_NAME?>"
                                   required=""></span>
                    </p>

                    <p><span class="wpcf7-form-control-wrap your-email">
                            <input type="email" name="email" required=""
                                   value="" size="40"
                                   class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                   aria-required="true"
                                   aria-invalid="false"
                                   placeholder="<?=EMAIL?>"></span>
                    </p>

                    <p><span class="wpcf7-form-control-wrap your-subject">
                            <input type="text" name="telephone" required=""
                                   value="" size="40"
                                   class="wpcf7-form-control wpcf7-text"
                                   aria-invalid="false"
                                   placeholder="<?=TELEPHONE?>"></span>
                    </p>

                    <p><span class="wpcf7-form-control-wrap your-message">
                            <textarea name="message" required=""
                                      cols="40" rows="10"
                                      class="wpcf7-form-control wpcf7-textarea"
                                      aria-invalid="false"
                                      placeholder="<?=YOU_MESSAGE?>"></textarea></span>
                    </p>

                    <p><input type="submit" value="<?=SEND?>"
                              class="wpcf7-form-control wpcf7-submit"></p>

                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <div id="pyre_social_media-widget-feat-3" class="sidebar-item widget pyre_social_media-feat"><h6
                class="widget-title">
            <?=CONTACTS?>
        </h6>

            <div class="social-icons-widget-pro">
                <div><?=C_ADDRESS?><br><br>
                    <?=C_TELEPHONE?><br><br>
                    <?=C_BRON?>
                </div>
                <div class="social-ico">
                    <a href="https://vk.com/id256709734" target="_blank"><i class="fa fa-vk"></i></a>
                    <a href="https://www.facebook.com/pages/Chelsea-Pub/319663854850177" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/ChelseaPub_cv" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://instagram.com/chelseapubua/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://ru.foursquare.com/v/chelsea-pub/4c3a1b1d18e72d7f565c1bf5" target="_blank"><i class="fa fa-foursquare"></i></a>
                </div>
            <div class="sidebar-divider"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</div>
<div class="clearfix"></div>