<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><?=ALBUMS?></h3>
        </div>

        <div class="panel-body" style="padding: 0;">
            <table class="table">
                <?
                    foreach($data as $al){
                ?>
                <tr style="cursor: pointer;" >
                    <td onclick="select_album(<?=$al->_id?>)">
                        <?=$al->title?>
                    </td>

                    <td>
                        <a href="<?=MODULE_URL?>/upload/<?=$al->_id?>"><span class="glyphicon glyphicon-upload"></span></a>
                    </td>
                </tr>
                <?}?>
            </table>
        </div>

        <div class="panel-footer">
            <button class="btn btn-primary" id = "add"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>

    <script>
        function select_album(i) {
        }
    </script>
</div>