<table class="table">
    <?
    foreach($data as $module) {
    ?>
    <tr>
        <td>
            <?=$module->_module_id?>
        </td>

        <td><?=$module->name?></td>
        <td><?=$module->version?></td>
        <?
        if (DEBUG) {
        ?>
        <td>
            <a href = "/admin/moduleeditor/index/<?=$module->_module_id?>"><span class="glyphicon glyphicon-edit"></span></a>
        </td>
        <?}?>
        <td><a href = "/admin/module_manager/delete/<?=$module->_module_id?>" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    <?}?>
</table>