<div class="col-md-4">
    <a href="<?=MODULE_URL?>/categories">
        <div class="panel panel-default" align="center">
            <div class="panel-body">
                <img src="/modules/ecommerce/img/categories.png">
            </div>

            <div class="panel-footer">
                <?=CATEGORIES?>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4">
    <a href="<?=MODULE_URL?>/products">
        <div class="panel panel-default" align="center">
            <div class="panel-body">
                <img src="/modules/ecommerce/img/products.png">
            </div>

            <div class="panel-footer">
                <?=PRODUCTS?>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4">
    <a href="<?=MODULE_URL?>/orders">
        <div class="panel panel-default" align="center">
            <div class="panel-body">
                <img src="/modules/ecommerce/img/orders.png">
            </div>

            <div class="panel-footer">
                <?=ORDERS?>
            </div>
        </div>
    </a>
</div>