<?foreach($data as $category) {?>
<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="item item-hover">
        <div class="item-image-wrapper">
            <figure class="item-image-container"><a href="/ecommerce/category/<?=$category->alias?>"><img
                    src="/content/ecommerce/categories/small_<?=$category->image?>"
                    class="item-image"> <img src="/content/ecommerce/categories/small_<?=$category->image?>" class="item-image-hover"></a></figure>
        </div>
        <div class="item-meta-container">
            <h3 class="item-name"><a href="/ecommerce/category/<?=$category->alias?>"><?=$category->name?></a></h3>
        </div>
    </div>
</div>
<?}?>