<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>ChelseaPub</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,600,700|Merriweather:400,400italic,700'
          rel='stylesheet' type='text/css'>

    <script src="../js/jquery-1.7.1.min.js"></script>
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/script.js"></script>
    <!-- RevSlider -->
    <script type="text/javascript" src="../js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../js/jquery.themepunch.revolution.min.js"></script>
    <!-- End RevSlider -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<header>
    <div id="header-top">
        <div class="width-container">
            <div id="additional-social-pro">
                <div class="social-ico">
                    <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="http://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="http://youtube.com" target="_blank"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>

            <div id="header-right-pro">
                <div class="header_right_text_pro">Замовлення столика: +1 800 654 9495</div>
                <div class="booking_Text_pro"><a href="page-reservation.html">Замовити столик онлайн <i
                        class="fa fa-calendar"></i></a></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div id="pro-header-white">
        <div class="width-container">
            <h1 id="logo">
                <a href="index.html" title="Triven" rel="home">
                    <img src="http://chelsea-pub.com/templates/chelsea/images/logo.png" alt="Triven" width="236">
                </a>
            </h1>
            <nav>
                <div class="menu-main-navigation-container">
                    <ul id="menu-main-navigation" class="sf-menu">
                        <li class="current-menu-item">
                            <a href="index.html">Головна</a>
                        </li>
                        <li>
                            <a href="menu.html" class="sf-with-ul">Меню</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="menu.html">Бар</a>
                                </li>
                                <li>
                                    <a href="menu.html">Кухня</a>
                                </li>
                                <li>
                                    <a href="menu.html">Фуршет</a>
                                </li>
                                <li>
                                    <a href="menu.html">Додаткові послуги</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="portfolio-architecture.html" class="sf-with-ul">Блог</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="blog.html">Афіша</a>
                                </li>
                                <li>
                                    <a href="blog.html">Акції</a>
                                </li>
                                <li>
                                    <a href="blog.html">Новини</a>
                                </li>
                                <li>
                                    <a href="blog.html">Відео</a>
                                </li>
                                <li>
                                    <a href="blog.html">Наш канал</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="default.html">Купити квиток</a>
                        </li>
                        <li>
                            <a href="contact.html">Контактна інформація</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</header>

<div id="page-title" style="background: url(http://chelsea-pub.com/templates/chelsea/images/bg_body1.jpg)">
    <div class="width-container">
        <h1>Меню</h1>

        <div class="clearfix"></div>
    </div>
</div>


<div id="main">
    <div class="width-container">
        <div id="menu-index">
            <ul id="menu-sub-nav">
                <li class="current-cat">
                    <a href="menu.html">Бар</a>
                </li>
                <li>
                    <a href="menu.html">Кухня</a>
                </li>
                <li>
                    <a href="menu.html">Фуршет</a>
                </li>
                <li>
                    <a href="menu.html">Додаткові послуги</a>
                </li>
            </ul>


            <div class="clearfix"></div>

            <ul id="menu-sub-nav">
                <li class="current-cat">
                    <a href="menu.html">Пиво</a>
                </li>
                <li>
                    <a href="menu.html">Віскі</a>
                </li>
                <li>
                    <a href="menu.html">Кава</a>
                </li>
                <li>
                    <a href="menu.html">Чай</a>
                </li>
                <li>
                    <a href="menu.html">Коняк</a>
                </li>
                <li>
                    <a href="menu.html">Горілка</a>
                </li>
                <li>
                    <a href="menu.html">Вино</a>
                </li>
                <li>
                    <a href="menu.html">Шампанське</a>
                </li>
                <li>
                    <a href="menu.html">Ром</a>
                </li>
            </ul>

            <div class="clearfix"></div>


            <article>
                <div class="menu-index-pro">
                    <div class="menu-image-pro">
                        <a href="http://chelsea-pub.com/content/shop/products/5162f5c3785c485a067bc7ce3ebc5b0e.jpg" rel="prettyPhoto">
                            <img width="800" height="400"
                                                                                 src="http://chelsea-pub.com/content/shop/products/5162f5c3785c485a067bc7ce3ebc5b0e.jpg"
                                                                                 class="attachment-progression-menu wp-post-image"
                                                                                 alt="steak-1"></a>
                    </div>

                    <div class="menu-content-pro">
                        <div class="pro_menu_price">27 грн</div>
                        <h5>Franziskaner (0.3 л)</h5>

                        <div class="menu_content_pro">
                            <p>(«Францисканер») названий так на честь монастиря, де жили монахи ордену францисканців, а назва в перекладі означає «францисканець». Franziskaner була відкрита в Мюнхені в 1363 році і стала першою приватною броварнею в місті.
                                Володіє благородним золотистим кольором, трохи пряне, з легкими фруктовими нотками і пшеничним ароматом. Даний сорт «Францисканер» визнаний всіма як справжній, класичний стандарт «білого» пива.</p>
                        </div>
                        <a href="#" class="more-link"><span class="fa fa-shopping-cart"></span> Додати в корзину</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- close .portfolio-index-text -->
            </article>

            <article>
                <div class="menu-index-pro">
                    <div class="menu-image-pro">
                        <a href="http://chelsea-pub.com/content/shop/products/5162f5c3785c485a067bc7ce3ebc5b0e.jpg" rel="prettyPhoto">
                            <img width="800" height="400"
                                 src="http://chelsea-pub.com/content/shop/products/5162f5c3785c485a067bc7ce3ebc5b0e.jpg"
                                 class="attachment-progression-menu wp-post-image"
                                 alt="steak-1"></a>
                    </div>

                    <div class="menu-content-pro">
                        <div class="pro_menu_price">27 грн</div>
                        <h5>Franziskaner (0.3 л)</h5>

                        <div class="menu_content_pro">
                            <p>(«Францисканер») названий так на честь монастиря, де жили монахи ордену францисканців, а назва в перекладі означає «францисканець». Franziskaner була відкрита в Мюнхені в 1363 році і стала першою приватною броварнею в місті.
                                Володіє благородним золотистим кольором, трохи пряне, з легкими фруктовими нотками і пшеничним ароматом. Даний сорт «Францисканер» визнаний всіма як справжній, класичний стандарт «білого» пива.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- close .portfolio-index-text -->
            </article>

            <article>
                <div class="menu-index-pro">
                    <div class="menu-image-pro">
                        <a href="http://chelsea-pub.com/content/shop/products/5162f5c3785c485a067bc7ce3ebc5b0e.jpg" rel="prettyPhoto">
                            <img width="800" height="400"
                                 src="http://chelsea-pub.com/content/shop/products/5162f5c3785c485a067bc7ce3ebc5b0e.jpg"
                                 class="attachment-progression-menu wp-post-image"
                                 alt="steak-1"></a>
                    </div>

                    <div class="menu-content-pro">
                        <div class="pro_menu_price">27 грн</div>
                        <h5>Franziskaner (0.3 л)</h5>

                        <div class="menu_content_pro">
                            <p>(«Францисканер») названий так на честь монастиря, де жили монахи ордену францисканців, а назва в перекладі означає «францисканець». Franziskaner була відкрита в Мюнхені в 1363 році і стала першою приватною броварнею в місті.
                                Володіє благородним золотистим кольором, трохи пряне, з легкими фруктовими нотками і пшеничним ароматом. Даний сорт «Францисканер» визнаний всіма як справжній, класичний стандарт «білого» пива.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- close .portfolio-index-text -->
            </article>

            <article>
                <div class="menu-index-pro">
                    <div class="menu-image-pro">
                        <a href="http://chelsea-pub.com/content/shop/products/5162f5c3785c485a067bc7ce3ebc5b0e.jpg" rel="prettyPhoto">
                            <img width="800" height="400"
                                 src="http://chelsea-pub.com/content/shop/products/5162f5c3785c485a067bc7ce3ebc5b0e.jpg"
                                 class="attachment-progression-menu wp-post-image"
                                 alt="steak-1"></a>
                    </div>

                    <div class="menu-content-pro">
                        <div class="pro_menu_price">27 грн</div>
                        <h5>Franziskaner (0.3 л)</h5>

                        <div class="menu_content_pro">
                            <p>(«Францисканер») названий так на честь монастиря, де жили монахи ордену францисканців, а назва в перекладі означає «францисканець». Franziskaner була відкрита в Мюнхені в 1363 році і стала першою приватною броварнею в місті.
                                Володіє благородним золотистим кольором, трохи пряне, з легкими фруктовими нотками і пшеничним ароматом. Даний сорт «Францисканер» визнаний всіма як справжній, класичний стандарт «білого» пива.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- close .portfolio-index-text -->
            </article>

            <article>
                <div class="menu-index-pro">
                    <div class="menu-image-pro">
                        <a href="http://chelsea-pub.com/content/shop/products/5162f5c3785c485a067bc7ce3ebc5b0e.jpg" rel="prettyPhoto">
                            <img width="800" height="400"
                                 src="http://chelsea-pub.com/content/shop/products/5162f5c3785c485a067bc7ce3ebc5b0e.jpg"
                                 class="attachment-progression-menu wp-post-image"
                                 alt="steak-1"></a>
                    </div>

                    <div class="menu-content-pro">
                        <div class="pro_menu_price">27 грн</div>
                        <h5>Franziskaner (0.3 л)</h5>

                        <div class="menu_content_pro">
                            <p>(«Францисканер») названий так на честь монастиря, де жили монахи ордену францисканців, а назва в перекладі означає «францисканець». Franziskaner була відкрита в Мюнхені в 1363 році і стала першою приватною броварнею в місті.
                                Володіє благородним золотистим кольором, трохи пряне, з легкими фруктовими нотками і пшеничним ароматом. Даний сорт «Францисканер» визнаний всіма як справжній, класичний стандарт «білого» пива.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- close .portfolio-index-text -->
            </article>
            <!-- #post-## -->

            <!-- #post-## -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="widget-area">
    <div class="width-container footer-3-column">
        <div class="widget">
            <h2 class="widget-title">Контактна інформація</h2>

            <div class="social-icons-widget-pro">
                <div>
                    <p>м. Чернівці, вул. Гагаріна 12</p>

                    <p>Телефон: +38 (094) 991 41 09 <br> Мобільний: 050 82 12 818 </p>

                    <p>Бронювання столиків: <br> +38 (0372) 902 109 </p>
                </div>
                <div class="social-ico">
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="no-reply@e-mail.com" target="_blank">
                        <i class="fa fa-envelope"></i>
                    </a>
                </div>
                <!-- close .social-ico -->
            </div>
            <!-- close .social-icons-widget-pro -->
        </div>


        <div class="widget">
            <h2 class="widget-title">Підпишіться на оновлення</h2>

            <div class="textwidget">
                <p>Підпішіться на оновлення, щоб отримувати актуальну інформацію</p>

                <div id="mc_embed_signup">
                    <form action="//progressionstudios.us1.list-manage.com/subscribe/post?u=1a06aa3bca8613232881e8a6e&amp;id=2f5a556941"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" novalidate="">
                        <div class="mc-field-group"><label for="mce-EMAIL">Email </label> <input type="email"
                                                                                                 value=""
                                                                                                 name="EMAIL"
                                                                                                 class="required email"
                                                                                                 id="mce-EMAIL"
                                                                                                 placeholder="Your E-mail Address">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <div style="position: absolute; left: -5000px;"><input type="text"
                                                                               name="b_1a06aa3bca8613232881e8a6e_2f5a556941"
                                                                               tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe"
                                                  class="button"></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<footer>
    <div id="copyright">
        <div class="width-container">
            <div id="copyrigh-text">© 2013 ChelseaPub</div>
            <a class="scrollup" href="#top"><i class="fa fa-angle-up"></i></a>
        </div>
        <!-- close .width-container -->
        <div class="clearfix"></div>
    </div>
    <!-- close #copyright -->
</footer>

</body>
</html>